* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
:root {
    --color1: #464655;
    --color2: #949588;
    --color3: #B7B6C1;
    --color4: #D5CFE1;
    --color5: #EDDFEF;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  justify-content: right;
  padding-right: 20px;
  align-items: center;
  background-color: transparent;
}
nav h1 {
flex-shrink: 0;
width: auto; /* 73px */
height: 32px;
white-space: pre;
overflow: hidden;
position: absolute;
left: 20px;
top: 30px;
font-weight: 700;
font-style: normal;
font-family: "Inter", "Inter Placeholder", sans-serif;
color: white;
font-size: 16px;
letter-spacing: 1px;
line-height: 2;
text-align: center;
}
nav div.right-nav {
display: flex;
flex-direction: row;
width: auto;
align-items: center;
gap: 10px;
}
nav div.right-nav p:first-of-type {
flex-shrink: 0;
width: auto; /* 47px */
height: auto; /* 26px */
white-space: pre;
overflow: visible;
position: relative;
font-weight: 500;
font-style: normal;
font-family: "Inter", sans-serif;
color: white;
font-size: 16px;
letter-spacing: 0em;
line-height: 1.6;
text-align: left;
list-style-type: none;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
cursor: pointer;
}
nav.active {
display: flex;
background-color: rgba(255, 255, 255, 1);
backdrop-filter: blur(0);
transition: 200ms;
}
nav.active h1, nav.active div.right-nav p {
  color: black;
}
nav.active div.right-nav p:first-of-type:hover {
  color: white;
  background-color: #222222;
}
nav.active div.right-nav .nav-button {
  color: white;
}
nav.NoDisplay {
opacity: 0;
transition: 200ms;
}
nav div.right-nav a {
text-decoration: none;
}
nav div.right-nav p:first-of-type:hover {
color: black;
transition: 200ms;
}
.nav-button {
box-sizing: border-box;
flex-shrink: 0;
width: min-content !important; /* 106px */
height: 10px !important;
display: block;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 0.7065919983928324px 0.7065919983928324px -0.625px rgba(0, 0, 0, 0.15), 0px 1.8065619053231785px 1.8065619053231785px -1.25px rgba(0, 0, 0, 0.14398), 0px 3.6217592146567767px 3.6217592146567767px -1.875px rgba(0, 0, 0, 0.13793), 0px 6.8655999097303715px 6.8655999097303715px -2.5px rgba(0, 0, 0, 0.12711), 0px 13.646761411524492px 13.646761411524492px -3.125px rgba(0, 0, 0, 0.10451), 0px 30px 30px -3.75px rgba(0, 0, 0, 0.05);
background-color: #222222;
overflow: visible;
position: relative;
align-content: center;
flex-wrap: nowrap;
border-radius: 8px;
cursor: pointer;
}
.nav-button:hover {
background-color: white !important;
transition: 200ms;
color: black !important;
border: solid black 1px;
}
.active-page:hover {
  background-color: white;
  padding: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20px;
}



.hero {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: var(--color2);
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 80px;
    border-radius: 0px 0px 0px 0px;
}
.shape-your-terrain {
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: auto; /* 88px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 800px;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Orelega One", sans-serif;
    color: white;
    font-size: 90px;
    letter-spacing: 0em;
    line-height: 1.1;
    text-align: center;
}
.realize-your-vision {
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: auto; /* 88px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 800px;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 0.35em;
    line-height: 1.1;
    text-align: center;
    margin-top: -85px;
    margin-left: 20px;
}
.buttons {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 44px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
    margin-top: -25px;
  }
.our-projects {
    flex-shrink: 0;
    width: auto; /* 91px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }
.button1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: min-content; /* 131px */
    height: min-content; /* 44px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.button2 {
    box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 122px */
  height: min-content; /* 44px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: var(--color5);
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
.f-a-q {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 582px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 100px 124px 100px;
    background-color: black;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 0px 0px 0px 0px;
}
.key-features {
  flex-shrink: 0;
  width: 100%;
  height: auto; /* 58px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1000px;
  overflow: visible;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: white;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
  }
  .contact-us {
    flex-shrink: 0;
    width: auto; /* 82px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: black;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }
  .hexagon1 {
    position: relative;
    margin: 0 auto;
    background-color: var(--color5);
    border-radius: 3.8px;
    width: 60px; /* 75, 50 */
    height: 36px; /* 45, 30 */
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
    margin-bottom: -100px;
    display: inline;
}
  
/* Creating pseudo-class */
.hexagon1:before, .hexagon1:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.45vh;
    left: -0.45vh;
    background-color: var(--color5);
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
  
/* Align them in such a way
that they form a hexagon */
.hexagon1:before {
    transform: rotate(60deg);
}
.hexagon1:after {
    transform: rotate(-60deg);
}

.hexagon2 {
    position: relative;
    display: inline;
    top: -22px; /* Move 10px up */
    left: 10px; /* Move 10px to the right */
    background-color: transparent;
    border-radius: 3.8px;
    width: 60px;
    height: 36px;
    box-sizing: border-box;
    border-right: 3px solid black; /* Black border */
    border-left: 3px solid black;
    pointer-events: none; /* Allow clicks to pass through the border element */
}
.hexagon2:before, .hexagon2:after {
  content: "";
  border: inherit;
  position: absolute;
  left: -0.5vh;
    background-color: transparent;
    border-radius: inherit;
    border-left: solid black 3px;
    border-right: solid black 3px;
    height: 100%;
    width: 100%;
}
.hexagon2:before {
    transform: rotate(60deg)
}
.hexagon2:after {
    transform: rotate(-60deg)
}
.questions-row {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 216px */
    display: grid;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-content: center;
    grid-auto-rows: min-content;
    grid-template-rows: repeat(2, min-content);
    padding: 0px 0px 0px 0px;
    gap: 40px;
    border-radius: 0px 0px 0px 0px;
  }
.questions-row-special {
  padding-left: 30px !important;
  margin-right: 60px !important;
}
.q-a {
    flex-shrink: 0;
    height: min-content; /* 88px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    overflow: visible;
    position: relative;
    justify-self: start;
    align-self: start;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
  }
.q-a-title {
  flex-shrink: 0;
  width: 1fr;
  height: auto; /* 30px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  flex: 1 0 0px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
  color: var(--color4);
  font-size: 20px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  text-align: left;
}
.q-a-text {
  flex-shrink: 0;
  width: 1fr;
  height: auto; /* 24px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 400px;
  overflow: visible;
  flex: 1 0 0px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
  color: var(--color3);
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
  }
.q-a-text-special {
}
.team {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100vh; /* 668px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: #ffffff;
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 0px 0px 0px 0px;
}
.title {
    flex-shrink: 0;
    width: 100vw;
    height: min-content; /* 108px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 0px 0px 0px 0px;
  }
  .dream-team {
    flex-shrink: 0;
    width: 1fr;
    height: auto; /* 58px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    flex: 1 0 0px;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Orelega One", sans-serif;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: -1.2px;
    text-align: center;
  }
  .meet-the-masterminds-behind-your-modern-oasis {
    flex-shrink: 0;
    width: 600px;
    height: auto; /* 30px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: -1.5px;
    text-align: center;
  }
  .columns {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 300px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    overflow: visible;
    flex: 1 0 0px;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 0px 0px 0px 0px;
  }
  .page {
    box-sizing: border-box;
    flex-shrink: 0;
    flex: 1 0 0px;
    width: 1fr;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #f2f2f2;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 30px;
  }
  .round {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    display: block;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: solid black 1px;
    object-position: 0px -10px;
  }
  .positioning {
    object-position: 0px -45px !important;
  }
  .team-name {
    flex-shrink: 0;
    width: auto; /* 45px */
    height: auto; /* 28px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Orelega One", sans-serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: left;
  }
  .rows {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 62px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
  }
  .team-text {
    flex-shrink: 0;
    width: auto; /* 106px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }
  .shapes {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 289px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
  }
  .shapes-holder {
    background-color: #A5A699;
    width: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
  }
.semi-circle {
    width: 50%;
    height: 100%;
    background-color: var(--color3);
    border-radius: 10rem 0 0 10rem;
}
.semi-circle:first-of-type {
    background-color: var(--color5);
}
.circle {
    height: 100%;
    width: 100px;
    background-color: var(--color5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:nth-of-type(1) {
    width: 25%;
    height: 25%;
    background-color: var(--color3);
    border-radius: 50%;
}
.side-triangle {
   width: 0;
   height: 0;
   border-top: 100px solid transparent;
   border-bottom: 100px solid transparent;
   border-left: 200px solid var(--color5)
}
.upper-triangle {
    width: 0; 
    height: 0;
    border-right: 0px solid var(--color5);
    border-bottom: 202px solid var(--color5);
    border-left: 202px solid transparent;
}
.f-a-q2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 696px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 233px 0px 233px 0px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 0px 0px 0px 0px;
  }
  .important-questions-answered {
    flex-shrink: 0;
    width: calc(100% - 200px);
    height: auto; /* 58px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 1000px;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Orelega One", sans-serif;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: left;
  }
  .questions-row2 {
    flex-shrink: 0;
    width: calc(100vw - 200px);
    flex: 1fr 1fr 1fr;
    height: min-content; /* 112px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 100px;
    border-radius: 0px 0px 0px 0px;
  }
  .q-a2 {
    flex-shrink: 0;
    width: calc(33.33% - 66.66px);
    height: min-content; /* 112px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
  }
  .question-title {
    flex-shrink: 0;
    width: 1fr;
    height: auto; /* 30px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 1.5;
    text-align: left;
  }
  .question-text {
    flex-shrink: 0;
    width: 1fr;
    height: auto; /* 72px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 400px;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: var(--color2);
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }
  .testimonials {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 668px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 84px 100px 84px 100px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .testimonials-columns {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 500px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 0px 0px 0px 0px;
  }
  .testimonial-card {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
    height: min-content; /* 500px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #0d0d0d;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 40px;
  }
  .testimonial-text {
    flex-shrink: 0;
    width: 100%;
    height: auto; /* 96px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: #eaf4f4;
    font-size: 20px;
    letter-spacing: -0.025em;
    text-align: center;
  }
  .testimonial-name {
    flex-shrink: 0;
    width: auto; /* 71px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: var(--color2);
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5px;
    text-align: center;
  }
  .weird-circle {
    width: 50px;
    height: 50px;
    border-radius: 15rem 1px 10px 10px;
    background-color: white;
    display: flex;
    align-items: top;
    justify-content: right;
    background-color: grey;
  }
  .weird-circle2 {
    width: 45px;
    height: 50px;
    background-color: grey;
    border: solid black 3px;
    border-radius: 50rem 20px 20px 20px;
    margin-top: -3px;
    margin-right: -4px;
  }
  .short-of-a-half-circle-large {
    width: 24px;
    height: 52px;
    background-color: grey;
    border-radius: 30rem 100px 100px 30rem;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .short-of-a-half-circle-small {
    width: 20px;
    height: 40px;
    background-color: grey;
    border-radius: 35rem 100px 100px 35rem;
    margin-left: -1px;
  }
  .borderRight {
    border-right: 3px solid black;
    height: 60px;
    margin-top: -10px;
    margin-right: 3px;
  }
  .pivot {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 330px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 40px 100px 40px;
    background-color: #ffffff;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
  }
  .wrapper {
    flex-shrink: 0;
    width: 1000px;
    height: min-content; /* 130px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 0px 0px 0px 0px;
  }
  .join-us-now {
    flex-shrink: 0;
    width: 100%;
    height: auto; /* 60px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
    font-size: 50px;
    letter-spacing: -2.1px;
    line-height: -1.2px;
    text-align: center;
  }
  .footer {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 108px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px 100px 42px 100px;
    background-color: #000000;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .bottom-footer-text {
    flex-shrink: 0;
    width: auto; /* 296px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
    color: #a4c3b2;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }
.about-us-section1 {
  padding-bottom: 200px !important;
}
.about-us-section1-realize-your-vision {
  letter-spacing: 10px;
}






#about-us-section2 {
  height: 200vh;
  width: 100%;
  background-color: black;
}
.about-us-section-image1 {
  width: 90%;
  height: 90%;
  max-height: 700px;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  object-fit: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.round1 {
  border-radius: 30% 0 40% 0;
}
.round2 {
  border-radius: 20px 40% 20px 20px;
}
.about-us-section2-holders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 95%;
  height: 50%;
  margin-left: 50px;
  padding: 10px;
}
.about-us-section2-title-text {
  flex-shrink: 0;
    width: 100%;
    height: auto; /* 58px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 1000px;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Orelega One", sans-serif;
    color: white;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: center
}
.about-us-secton2-quote-text {
  flex-shrink: 0;
  width: 1fr;
  height: auto; /* 30px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  flex: 1 0 0px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
  color: var(--color4);
  font-size: 20px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  text-align: left;
}
.about-us-section2-paragraph-text {
  flex-shrink: 0;
  width: 1fr;
  height: auto; /* 24px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 400px;
  overflow: visible;
  flex: 1 0 0px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
  color: var(--color3);
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: justify;
}
.right {
  text-align: right !important;
}
.right-paragraph {
  margin-left: auto;
}

.about-us-section2-seperationer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}






.buttons a {
  text-decoration: none;
}

.animation:hover {
  background-color: white !important;
  color: black !important;
  transition: 200ms;
  border: solid black 1px;
}
.animation:hover span {
  color: black;
}
.animation2:hover {
  background-color: black;
  color: white;
  transition: 200ms;
  border: solid white 1px
}
.animation2:hover span {
  color: white;
}


.bigifier {
  width: 450px !important;
  height: 50px !important;
}
.bigifier span {
  font-size: 17px;
}
.join-us-now span {
  font-style: italic;
  letter-spacing: 2px;
}



.full-f-a-q {
  height: calc(100vh - 75px) !important;
}



@media screen and (max-width: 767px) {
  /* Styles for small mobile devices in portrait mode */
  body {
    width: 100vw;
    overflow: none;
  }
  nav {
    width: 100vw;
    height: auto;
    position: fixed;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  nav .right-nav a:first-of-type {
    display: none;
  }
  .title-and-icon {

  }
  .hero {
    height: 100vh;
    gap: 100px;
  }
  .shape-your-terrain {
    font-size: 13vw;
    width: 150%;
    margin-top: -60px;
  }
  .realize-your-vision {
    word-wrap: none;
    font-size: 7vw;
    width: 100vw;
  }
  .buttons {
    width: 100vw;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
  }
  .button1 {
    width: 110%;
    height: 110%;
  }
  .button2 {
    width: 110%;
    height: 110%;
  }
  .button3 {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: -10px;
  }
  .our-projects {
    font-size: 5vw;
  }
  .contact-us {
    font-size: 5vw;
  }
  .f-a-q {
    height: auto;
    width: 100vw;
  }
  .key-features {
    font-size: 50px;
    white-space: nowrap;
    margin-left: -150px
  }
  .q-a {
    width: 100vw;

  }
  .q-a-text, .q-a-title{
    width: 100%;
  }
  .q-a-text {
    width: 100% !important;
  }
  .questions-row {
    width: 100vw;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: min-content, min-content, min-content, min-content, min-content, min-content;
    align-items: flex-start !important;
    padding-left: 30px;
    padding-right: 30px;
  }


  .team {
    height: auto;
    width: 100vw;
  }
  .title {
    gap: 10px;
  }
  .dream-team {
    font-size: 14vw;
  }
  .meet-the-masterminds-behind-your-modern-oasis {
    font-size: 6vw;
    white-space: wrap;
    width: 80%;
  }
  .columns {
   flex-direction: column;
  }
  .page {
    width: 80vw;
  }
  .rows {
    gap: 0px;
  }
  .team-name {
    font-size: 7vw;
  }
  .team-text {
    font-size: 5vw;
  }

  .shapes {
    width: 100vw;
    height: min-content;
    padding: 20px;
  }
  .shapes-holder {
    width: 80%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .semi-circle {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform-origin: center;
    height: 100%;
    width: 100%;
    display: none;
  }
  .circle {
    margin-left: auto;
    margin-right: auto;
  }
  .side-triangle {
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
  }
  .upper-triangle {
    display: none;
  }

  .f-a-q2 {
    width: 100vw;
    padding-top: 100px;
    align-items: flex-start;
  }
  .important-questions-answered {
    font-size: 9vw;
    width: 90vw;
    margin-left: 5vw;
  }
  .questions-row2 {
    display: flex;
    flex-direction: column;
  }
  .q-a2 {
    width: 100vw;
    margin-left: 5vw;
  }
  .question-title {
    width: 100vw;
    text-align: left;
  }
  .question-text {
    width: 90vw;
    margin-bottom: -25px;
  }

  .testimonials {
    width: 100vw;
    margin-top: -150px;
  }
  .testimonials-columns {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .testimonial-card {
    width: 95%;
  }

  #about-us-section2 {
    height: 100%;
  }
  .about-us-section2-holders {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 20px;
    margin-bottom: 15px;
    height: fit-content;
  }
  .about-us-section-image1 {
    order: -1;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
  }
  .round2 {
    object-position: 0px;
  }

  .shift {
    margin-left: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  
}
@media screen and (min-width: 1440px) {
  /* Styles for desktops and larger screens */
  .hexagon2:before, .hexagon2:after {
    position: absolute;
    left: -0.25vh;
  }
}
@media screen and (min-width: 820px) {
  .hexagon2:before, .hexagon2:after {
    position: absolute;
    left: -0.25vh;
  }
}
@media sreen and (min-width: 932px) {
  .hexagon2:before, .hexagon2:after {
    position: absolute;
    left: 0vh !important;
  }
}
@media screen and (orientation: landscape) {
  /* Styles for landscape orientation */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Styles for high-resolution displays */
}
